body{
    background-color: #282a36;
}

/* so that dark reader doesnt make the site look weird */
:root {
    color-scheme: dark;
}


main{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid #bd93f9; */
    margin-bottom: 100px;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    /* shoutout https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-shadow */
    /* box-shadow: inset 0px 0px 12px 0px #7f5e6c, 0px 0px 12px 0px #7f5e6c; */
    font-size: 2rem;
    font-family: "Noto Sans Mono", monospace;
}
footer{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 20px 20px;
    font-size: 2rem;
    text-align: center;
    font-family: "Arial";
}

header{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #282a36;
    padding: 0px 20px 20px 20px;
    font-size: 2rem;
    font-family: "Arial";
}
#headerimg {
    box-sizing: border-box;
    width: 150px;
    /* display: inline-flex; */
    height: 150px;
    float: left;
    padding: 30px 15px 10px 5px;
}

h1{
    color: #bd93f9;
    font-size: 2.5rem
}
h2 {
    color: #bac2de;
}
h3 {
    color: #a6adc8;
}
p {
    color: #f8f8f2;
}

a:link {
    color: #bd93f9;
}

a:visited {
    color: #ff79c6;
}

a:hover {
    color: #fe640b;
}

li::marker {
    color: white;
}

hr {
    margin-top: 25px;
    color: #4c4f69;
}
video, img {
    display: block;
    max-width: 40vw;
    max-height: 40vh;
    margin-left: auto;
    margin-right: auto;
}

/* shoutout https://www.w3schools.com/cssref/atrule_media.php */
@media screen and (max-width: 800px){
    #headerimg{
        display: none;
    }
}


h6 {
    text-align: center;
    font-size: 18pt;
}

.centered {
    text-align: center;
}

