    <footer>
        <nav>
            <p><a href="https://webpages.charlotte.edu/tmcelro3/">CLT Web</a> |  
            <a href="https://tmcelroy2202.github.io/">GitHub.io</a> | 
            <a href="https://github.com/tmcelroy2202/">GitHub</a> | 
            <a href="https://www.freecodecamp.org/thomas-mcelroy">freeCodeCamp</a> | 
            <a href="https://www.codecademy.com/profiles/giga5446778097">Codecademy</a> |
            <a href="https://www.linkedin.com/in/thomas-mcelroy-b68bb4352/">LinkedIn</a></p>
        </nav>
        <p>A product of <a href="./tommydoes.design/index.html">Tommy Does Design</a>, Certified in ©2026</p>
        <em>You are all better than you think you are. You are designed not to believe it when you hear it from yourself.</em>
    </footer>
