    <header>
    <img src="images/tommynonfavicon.png" id="headerimg" alt="Me, pointing at the camera">
    <h1>Thomas McElroy's Terrific Muskrat | ITIS3135</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="introduction_form.html">Introduction Form</a>
        <a href="contract.html">Contract</a>
        <a href="about.html">About</a>
        <a href="survey.html">Survey</a>
        <a href="cards.html">Cards</a>
        <a href="inventory.html">Inventory</a>
        <a href="documentation.html">Documentation</a>
        <a href="product.html">Product</a>
        <!-- <a href="website_evaluations.html">Website Evaluations</a> -->
    </nav>
    <hr>
    </header>
